<h1 class="text-3xl font-bold underline">SuperHero Database App</h1>

<button (click)="initNewHero()">Create New Hero</button>
<app-edit-hero
  [hero]="heroToEdit"
  (heroesUpdated)="updateHeroList($event)"
></app-edit-hero>

<div>
  <h2>Select page size ({{ pageSize }})</h2>
  <button class="mx-4 min-w-4" (click)="onPageSizeChange(1)">1</button>
  <button class="mx-4 min-w-4" (click)="onPageSizeChange(2)">2</button>
  <button class="mx-4 min-w-4" (click)="onPageSizeChange(5)">5</button>
  <button class="mx-4 min-w-4" (click)="onPageSizeChange(10)">10</button>
  <button class="mx-4 min-w-4" (click)="onPageSizeChange(20)">20</button>
</div>

<div>
  <h2>Select page ({{ pageNumber }}):</h2>
  <button
    class="mx-2 min-w-4"
    *ngFor="let page of pages"
    (click)="onPageChange(page)"
  >
    {{ page }}
  </button>
</div>

<!-- cards -->
<!-- todo: max 4 or 10 per page? -->
<div class="grid md:grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-4">
  <div
    class="p-2 m-2 bg-emerald-300 min-h-40"
    *ngFor="let hero of heroes?.length ? heroes : []"
  >
    <div class="grid grid-cols-2">
      <div>
        <p>{{ hero.Name }}</p>
        <p>{{ hero.FirstName }} {{ hero.LastName }}</p>
        <p>{{ hero.SuperPower }}</p>
        <p>{{ hero.Location }}</p>
      </div>
      <div>
        <img
          class="h-60 min-w-20 bg-slate-300 mx-auto"
          alt="{{ hero.Name }}"
          title="{{ hero.Name }}"
          src="{{ hero.Items[0] }}"
        />
      </div>
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Superpower</th>
      <th>Location</th>
      <th>Images</th>
      <th>EDIT</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes?.length ? heroes : []">
      <td>{{ hero.Name }}</td>
      <td>{{ hero.FirstName }}</td>
      <td>{{ hero.LastName }}</td>
      <td>{{ hero.SuperPower }}</td>
      <td>{{ hero.Location }}</td>
      <td>{{ hero.Items }}</td>
      <td><button (click)="editHero(hero)">Edit</button></td>
    </tr>
  </tbody>
</table>
