<div *ngIf="hero">
  <h2>Edit hero</h2>
  <h3>Your hero name: {{ heroForm.value.name }}</h3>
  <form [formGroup]="heroForm">
    <div>
      <label for="name">Name:</label>
      <input id="name" type="text" placeholder="Name" formControlName="name" />
    </div>
    <div>
      First Name:
      <input formControlName="firstName" placeholder="First Name" />
    </div>
    <div>
      Last Name: <input formControlName="lastName" placeholder="Last Name" />
    </div>
    <div>
      Superpower
      <input formControlName="superPower" placeholder="Superpower" />
    </div>
    <div>
      Location:
      <input formControlName="location" placeholder="Location" />
      <p>{{ heroForm.value.location }}</p>
    </div>
    <!-- to do: create form for adding multiple image links -> push into array which then gets sent to POST endpoint -->
    <!-- <div>
      Images
      <input formControlName="images" placeholder="Image links" />
    </div> -->
    <button (click)="updateHero(hero)" *ngIf="hero.Id">Update and Save</button>
    <button (click)="deleteHero(hero)" *ngIf="hero.Id">Delete</button>
    <button (click)="createHero()" *ngIf="!hero.Id">Create</button>
    <button (click)="checkHero(hero)">Check hero</button>
  </form>
</div>
